.exercise-index {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}

.exercise-index__group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.exercise-index__group a:first-child {
  margin-bottom: 10px;
}
.exercise-index__group a:last-child {
  font-size: 16px;
}

.readme {
  margin: 0 25px;
}
